:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow-100: #f8efd0;
  --color-yellow-200: #d9c890;
  --color-yellow-300: #c7b36e;
  --color-yellow-400: #bda657;
}

.shadow-hero {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.divider {
  border: 1px solid var(--color-yellow-100);
  animation: infinite 5s borderAnimation;
}

@keyframes borderAnimation {
  0% {
    border: 1px solid var(--color-yellow-100);
  }
  50% {
    border: 1px solid var(--color-yellow-200);
  }
  62.5% {
    border: 1px solid var(--color-yellow-300);
  }
  75% {
    border: 1px solid var(--color-yellow-200);
  }
  100% {
    border: 1px solid var(--color-yellow-100);
  }
}
